.contentWrap {
  padding: 0 10px;
  max-width: 1100px;
  margin: 0 auto;
}
.title {
  font-size: 36px;
  font-weight: 600;
  margin-left: 20%;
}
.tagWrap {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  > div {
    height: 35px;
    margin: 5px;
  }
}
.imgWrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  > img {
    width: 300px;
    object-fit: contain;
    margin: 20px;
    border: 1px solid #6c757d;
    padding: 4px;
    border-radius: 5px;
  }
}
@media only screen and (max-width: 576px) {
  .imgWrap {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
}
